#logo{
    width:235px;
    height:57px;
}
#button{
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #06D19C;
    width: 175px;
    height: 43px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}