#contact{
  width: 100%;
}
#emailUs{
  font-weight: bold;
}
#img{
  width: 100%;
  height: 100%;
}
/* Form container */
form {
  max-width: 100%;
  background-color: #f5faff;
  margin: 0 auto;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="password"],

textarea {
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  background-color: #d7eaff;
  color: #333;
}

/* Labels */
label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Submit button */
button[type="submit"] {
  background-color: #06D19C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}

button[type="submit"]:hover {
  background-color: #0061b8;
}